*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

/*--------------------------------------------------------------
# Position
--------------------------------------------------------------*/
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }


/*--------------------------------------------------------------
# Display
--------------------------------------------------------------*/
.d-flex {
    display: flex !important;
}

.d-none {
    display: none !important;
}



.align-items-center {
    align-items: center !important;
}
.justify-content-between {
  justify-content: space-between !important;
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}
.py-4 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}
.pt-3 {
  padding-top: 1rem !important;
}

.mt-5 {
  margin-top: 3rem !important;
}
.mt-4 {
  margin-top: 1.5rem !important;
}
.text-center {
  text-align: center !important;
}

@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 720px;
  }
  .d-md-flex {
    display: flex !important;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .mt-md-0 {
    margin-top: 0 !important;
  }
  .pt-md-0 {
    padding-top: 0 !important;
  }
  .me-md-auto {
    margin-right: auto !important;
  }
  .text-md-start {
    text-align: left !important;
  }
  .text-md-end {
    text-align: right !important;
  }
}
@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 960px;
  }
  .d-lg-flex {
    display: flex !important;
} 
.col-lg-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.col-lg-3 {
  flex: 0 0 auto;
  width: 25%;
}
.col-lg-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}
.col-lg-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}
.mt-lg-0 {
  margin-top: 0 !important;
}
}
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
  }
  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .mt-xl-0 {
    margin-top: 0 !important;
  }
}
@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1320px;
  }
}







.align-items-stretch {
  align-items: stretch !important;
}
.justify-content-center {
  justify-content: center !important;
}
.flex-column {
  flex-direction: column !important;
}