<section id="why-us" class="why-us">
    <div class="container">

      <div class="row">
        <div class="col-lg-4 d-flex align-items-stretch">
          <div class="content">
            <h3>Compartiment Primiri Urgențe</h3>
            <p>
              Echipa de medici specialisti cu competenta in medicina de urgenta, asistente medicale si personal special antrenat in acest domeniu este disponibila in permanenta oricui necesita ingrijire de urgenta, furnizand asistenta si servicii medicale de calitate
            </p>
            <!-- <div class="text-center">
              <a href="#" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
            </div> -->
          </div>
        </div>
        <div class="col-lg-8 d-flex align-items-stretch">
          <div class="icon-boxes d-flex flex-column justify-content-center">
            <div class="row">
              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="bx bx-receipt"></i>
                  <h4>Program vizită</h4>
                  <p>Programul de vizitare al pacienților internați în cadrul unității noastre este organizat după cum urmează : De luni până vineri în intervalul orar 15.00 - 17.00 si 18.30 - 20.00. În zilele de sambătă și duminică în intervalul orar 10.00 - 17.00 si 18.30 - 20.00 Pacienții aflați în stare critică pot primi vizite din partea aparținătorilor și în afara programului anterior menționat. Durata maximă de vizită este de 30 de minute pentru fiecare pacient</p>
                </div>
              </div>
              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="bx bx-cube-alt"></i>
                  <h4>Programare consultatii</h4>
                  <p>Nu ezitati sa utilizati mijloacele puse la dispozitia dumneavoastra pentru efectuuarea unei programari la consultatie</p>
                </div>
              </div>
             <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box mt-4 mt-xl-0 ">
                  <i class="bx bx-images"></i>
                  <h4>Acreditare</h4>
                 <div class="logo-anmcs"></div>
                </div>
              </div> 
            </div>
          </div><!-- End .content-->
        </div>
      </div>

    </div>
  </section><!-- End Why Us Section -->

  <style>
    /*--------------------------------------------------------------
# Why Us
--------------------------------------------------------------*/
.why-us .content {
  padding: 30px;
  background: #1977cc;
  border-radius: 4px;
  color: #fff;
}

.why-us .content h3 {
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 30px;
}

.why-us .content p {
  margin-bottom: 30px;
}

.why-us .content .more-btn {
  display: inline-block;
  background: rgba(255, 255, 255, 0.2);
  padding: 6px 30px 8px 30px;
  color: #fff;
  border-radius: 50px;
  transition: all ease-in-out 0.4s;
}

.why-us .content .more-btn i {
  font-size: 14px;
}

.why-us .content .more-btn:hover {
  color: #1977cc;
  background: #fff;
}

.why-us .icon-boxes .icon-box {
  text-align: center;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 40px 30px;
  width: 100%;
}

.why-us .icon-boxes .icon-box i {
  font-size: 40px;
  color: #1977cc;
  margin-bottom: 30px;
}

.why-us .icon-boxes .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 30px 0;
}

.why-us .icon-boxes .icon-box p {
  font-size: 15px;
  color: #848484;
}
.logo-anmcs {
  background-image: url('../img/logoanmcs_mica.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 200px; /* Add height to make the div visible */
  width: 100%; /* Add width to make the div take full width */
}
  </style>