---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Istoric | Better Bar">
    <main id="main">

        <!-- ======= Breadcrumbs Section ======= -->
        <section class="breadcrumbs">
          <div class="container">
    
            <div class="d-flex justify-content-between align-items-center">
              <h2>Istoric</h2>
              <ol>
                <li><a href="/">Acasă</a></li>
                <li>Istoric</li>
              </ol>
            </div>
    
          </div>
        </section><!-- End Breadcrumbs Section -->
    
        <section class="inner-page">
          <div class="container">
            <p>În 1833 și <nobr>1877-1878</nobr> au fost menționate formațiuni medicale militare în garnizoana Pitești, dar fără continuitate sau legătură precisă cu Spitalul Militar Pitești.</p>
            <p>În anuarul Armatei Române din 1881 apare pentru prima dată denumirea Spitalului Militar Pitești, cu continuitate până în ziua de astăzi.</p>
            <p>Prima atestare documentară despre un spital militar permanent în Pitești o avem în anuarul Armatei Române din 1881 la filele 28 si 65. Spitalul avea ca personal propriu pe farmacistul de batalion clasa a <nobr>2-a</nobr> sublocotenent Rădulescu Alexandru, restul personalului fiind “atașat” de la unitățile din garnizoană și a funcționat în imobilul din strada Șerban Vodă (astăzi Victoriei) la nr. 96.</p>
            <p>Ca urmare a cuceririi independenței naționale și în urma reorganizării armatei române din 1883, se înființează Divizia a <nobr>2-a,</nobr> în acest oraș.</p>
            <p>Spitalul Militar își reîncepe activitatea ca spital al diviziei a <nobr>2-a</nobr> având ca șef pe medicul de divizie Dianu George, iar ca șef al farmaciei pe farmacistul de regiment, lt. Constantinescu George, aceștia fiind în același timp medic șef și respectiv farmacist șef al diviziei.</p>
            <p>Spitalul a funcționat inițial tot pe strada Negru Vodă la nr. 219 având o capacitate de două paturi ofițerești și 20 de paturi pentru trupă.</p>
            <p>În anul 1886 Spitalul Militar se mută împreună cu cel județean în strada Negru Vodă nr. 53, <nobr>într-un</nobr> local propriu corespunzător acelei perioade, unde ocupă două din cele patru pavilioane principale, plătind o chirie anuală de 1400 lei. Din anul 1885 Spitalul Militar Pitești a fost condus de medicul maior Șerbinescu Ion (în <nobr>1888-lt.col.).</nobr></p>
            <p>În urma unor noi modificări organizatorice ale armatei, prin Înaltul Decret nr. 556 din 17 martie 1889, Comandamentul Diviziei a <nobr>2-a</nobr> de la Pitești se desființează, iar toate unitățile din garnizoana trec în componența Diviziei a <nobr>3-a</nobr> cu sediul la Târgoviște, divizie componentă a Corpului 3 Armată. Drept urmare, Spitalul Militar se mută la Târgoviște având șef pe medicul lt.col. Zorileanu Nicolae, în Pitești rămânând o infirmerie centrală de garnizoană unde lucrau: medicul de regiment Condemin Nicolae, medicul de regiment clasa a <nobr>II-a</nobr> Popovici Alexandru, farmacistul de batalion clasa a <nobr>II-a,</nobr> Vasilescu Ștefan.</p>
            <p>În anul 1893 Spitalul Militar revine în Pitești, devine din nou divizionar deși Comandamentul diviziei ramâne la Târgoviște.</p>
            <p>În anul 1911 Spitalul Militar se mută în str. Negru Vodă, nr. 53, <nobr>într-o</nobr> clădire compusă din patru pavilioane pentru bolnavi, un pavilion pentru boli contagioase, pavilion administrativ și anexe gospodărești.</p>
            <p>În 1919 după întoarcerea unităților în garnizoana de pace din Pitești, se pune problema înființării Spitalului Militar. În urma propunerilor medicului șef al garnizoanei și susținute ierarhic, se aprobă înființarea Spitalului Garnizoanei Pitești, sub conducerea medicului lt. col. Pristăvescu Gheorghe.</p>
            <p>O dare de seamă a activității din anii <nobr>1926-1927</nobr> arată că spitalul dispunea de 75 de paturi, insuficiente în perioadele de încorporări.</p>
            <p>Era organizat un serviciu chirurgical cu 20 de paturi, un serviciu medical cu 40 de paturi, un serviciu <nobr>dermato-veneric</nobr> cu 15 paturi și laborator. Examenele radiologice le făcea medicul șef cpt. Tițescu V., fiind primul medic radiolog din oraș.</p>
            <p>Spitalul a fost completat cu noi dotări: aparat de radiologie în 1936, laborator de biochimie în 1937, sală de sterilizare adecvată în 1938, mobilier, paturi cu somiere, instrumente pentru farmacie.</p>
            <p>În primii ani de după al doilea razboi mondial, spitalul a funcționat cu o capacitate de 140 de paturi organizat pe patru servicii. Pentru decongestionarea Spitalului Militar Central București în 1952 se hotărăște ca Spitalul Militar Pitești să devină regional, cu trei pavilioane: unul pentru secțiile chirurgicale, unul pentru cele medicale și unul pentru policlinică și serviciile administrative. Construcția primului pavilion a început în anul 1952 și <nobr>s-a</nobr> terminat în toamna anului 1956.</p>
            <p>Această construcție a constituit un eveniment important în viața spitalului, clădirea nou construită oferind condiții mai bune de lucru atât pentru personalul medical cât și pentru pacienți. În această perioadă, de la înființarea din anul 1881 și până în prezent, spitalul a avut 30 de comandanți - șefi de spital.</p>
            <p>În prezent, în spital funcționează urmatoarele secții: Compartiment de primiri urgențe, Chirurgie, A.T.I, Oftalmologie, O.R.L, Medicină Internă, Cardiologie, Endocrinologie, Chirurgie plastică și reparatorie, Psihiatrie, Laboratoare, Urologie și Neurologie.</p>
            <p>Spitalul este dotat corespunzator cu aparatură și tehnică modernă, cum ar fi: tomograf computerizat, ecografe performante, aparatură de chirurgie laparoscopică, bronhoscop, endoscop, aparatură laser pentru chirurgie oftalmologică. Laboratorul de radiologie beneficiază de aparatură rontgen de ultimă generație iar laboratoarele de biochimie sunt dotate cu analizoare performante de biochimie și hematologie.</p>
            <p>Spitalul Militar Pitești acordă asistență medicală de specialitate atât personalului militar și civil din unitățile militare arondate în cele trei județe, membrilor familiilor acestora, pensionarilor militari, veteranilor de razboi, cât și celorlalți asigurați ai CASA OPSNAJ sau ai celorlalte case de asigurări de sănătate, în condițiile legii.</p>
            <p>Continuitatea asistenței medicale este asigurată prin linii de gardă pentru specialitățile chirurgie generală, medicină internă și medicină de urgență, precum și prin gardă la domiciliu pentru anestezie și terapie intensivă, neurologie, psihiatrie, medicină de laborator și radiologie- imagistică medicală.</p>
          </div>
        </section>
    
      </main><!-- End #main -->
</Layout>

<style>
    section {
      padding: 60px 0;
      overflow: hidden;
    }
    
    .section-bg {
      background-color: #f1f7fd;
    }
    
    .section-title {
      text-align: center;
      padding-bottom: 30px;
    }
    
    .section-title h2 {
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 20px;
      padding-bottom: 20px;
      position: relative;
      color: #2c4964;
    }
    
    .section-title h2::before {
      content: "";
      position: absolute;
      display: block;
      width: 120px;
      height: 1px;
      background: #ddd;
      bottom: 1px;
      left: calc(50% - 60px);
    }
    
    .section-title h2::after {
      content: "";
      position: absolute;
      display: block;
      width: 40px;
      height: 3px;
      background: #1977cc;
      bottom: 0;
      left: calc(50% - 20px);
    }
    
    .section-title p {
      margin-bottom: 0;
    }
    </style>
