---
import Layout from "../layouts/Layout.astro";
import Services from "../components/Services.astro";
import Joke from "../components/Joke.astro";
---

<Layout title="Spitalul Militar de Urgenta Pitesti Joke">
   <div class="distance">

   </div>
   <Joke />
   <Services />

</Layout>
<style>
  .distance {
   height:3rem;
  } 
</style>